<div class="center hero-unit">
    <h1>Welcome to the CSCI6800 Calendaring Application</h1>
    <br>
    <br>
    <h2>
        This is the home page for Mark Grebe's <br>
        CSCI6800 Calendaring Application
    </h2>
<%= link_to "Create Account", signup_path, 
        class: "btn btn-large btn-primary" %>
</div>
