<% provide(:title, @user.full_name) %>

<div class="row">
    <aside class="span4">
        <section>
            <a href="#eventModal" role="button" class="btn" data-toggle="modal">New Event</a>
 
            <%= render 'shared/event_form' %>

            <script type="text/javascript">
                $('.timepicker').timepicker({minuteStep: 5});
                $('.datepicker').datepicker({autoclose: true, todayBtn: true});

                $('#event_all_day').click(function() {
                    if (!this.checked) {
                        $('#event_start').attr('disabled',false);
                        $('#event_end').attr('disabled',false);
                    } else {
                        $('#event_start').attr('disabled',true);
                        $('#event_end').attr('disabled',true);
                        $('#event_start').val('');
                        $('#event_end').val('');
                    }
                });
            </script>
        </section>
    </aside>
    <div class="span8">
        <% if @user.get_event_count != 0 %>
            <h3>Events (<%= @user.get_event_count %>)</h3>
            <ol class="events">
                <%= render @events %>
            </ol>
        <% end %>
    </div>
</div>
