<li>
  <i class="icon-check iconlink" ></i>
  <i class="icon-circle" ></i><%= calendar.title %>
  <%= link_to edit_calendar_path(calendar) do %>
    <i class="icon-cogs iconlink"></i>
  <% end %>
</li>
