<% provide(:title, 'New Subscription') %>

<h1>Subscribe to a Calendar</h1>

<% @calendars_by_user.each do |user, calendars| %>
    <hr>
    <div class="row">
    <b> <%= User.where(username: user).first.full_name %> (<%= user %>)</b>
    <%= render partial: 'subscriptions/calendar', collection: calendars %>
    </div>
<% end %>
<hr>