#calendar_errorbox {
  color: #b94a48;
  background-color: #f2dede;
  display: none;
}

.calendars {
  list-style-type: none;
  margin-left: 0px;
}

.calb_blue {
  background-color: #D7F2FF;
}

.calb_red {
  background-color: #FADADD;
}

.calb_orange {
  background-color: #FDC68A;
}

.calb_yellow {
  background-color: #FFFFBB;
}

.calb_green {
  background-color: #D0F0C0;
}

.calb_purple {
  background-color: #DCD0FF;
}

.calb_brown {
  background-color: #FFDEAD;
}

.calf_blue {
  color: #0054A6;
}

.calf_red {
  color: #ED1C24;
}

.calf_orange {
  color: #F7941D;
}

.calf_yellow {
  color: #FFF200;
}

.calf_green {
  color: #00A651;
}

.calf_purple {
  color: #662D91;
}

.calf_brown {
  color: #8C6239;
}
