#calendar_errorbox {
  color: #b94a48;
  background-color: #f2dede;
  display: none;
}

.calendars {
  list-style-type: none;
  margin-left: 0px;
}

.calb_blue {
  background-color: #D7F2FF;
}

.calb_red {
  background-color: #F26C4F;
}

.calb_orange {
  background-color: #FDC68A;
}

.calb_yellow {
  background-color: #FFF79A;
}

.calb_green {
  background-color: #82CA9D;
}

.calb_purple {
  background-color: #A187BE;
}

.calb_brown {
  color: #C69C6E;
}

.calf_blue {
  color: #D7F2FF;
}

.calf_red {
  color: #F26C4F;
}

.calf_orange {
  color: #FDC68A;
}

.calf_yellow {
  color: #FFF79A;
}

.calf_green {
  color: #82CA9D;
}

.calf_purple {
  color: #A187BE;
}

.calf_brown {
  color: #C69C6E;
}
