// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#events .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #222;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #000;
    height: 80px;
    vertical-align: top;
    font-size: 16px;
  }

  a:link {
    color:#000000;
    text-decoration:none;
  } 

  a:visited {
    color:#000000;
    text-decoration:none;
  } 

  a:hover {
    color:#FFF;
    background:#EEE;
    text-decoration:none;
  } 

  .notmonth { 
    color: #CCC; 
    a:link {
      color:#CCC;
      text-decoration:none;
    } 
    a:visited {
      color:#CCC;
      text-decoration:none;
    } 
    a:hover {
      color:#FFF;
      background:#EEE;
      text-decoration:none;
    } 
  }
  .today { background-color: #D7F2FF; }
}

#events #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  color: #000;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#events ul {
  list-style-type: none;
  font-size: 11px;
}

#events li {
  text-align: left;   
}

.events-allday  {
  color:#000;
  background-color:#DDD;   
 }

.events-times  {
  color:#000;
  background-color:#FFF;   
}

.daytitle {
  a:link {
    color:#000000;
    text-decoration:none;
  } 

  a:visited {
    color:#000000;
    text-decoration:none;
  } 
}

.day_div {
  max-height: 600px;
  overflow: auto;
 }

.day_col_div {
  max-height: 720px;
  max-width: 50px;
  overflow: hide;
 }

.day_header {
  border-style: solid;
  border-width: 1px;
  border-color: #FFF #444 #444 #FFF;
  background-color: #DDD;
  padding: 2px 10px 2px 5px;
  font-family: Tahoma, Helvetica;
  font-size: 11px;
}

.day_hour_cell {
  font: 18px bold Tahoma, Helvetica;
  vertical-align: top;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #FFF #444 #444 #FFF;
  background-color: #DDDDDD;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
}

.day_min_cell {
  border-style: solid;
  border-width: 1px;
  border-color: #FFF #444 #444 #FFF;
  background-color: #DDDDDD;
  padding: 0px 5px 0px 5px;
  font: 8px Tahoma, Helvetica;
  height: 15px;
}

.day_free_time {
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  padding: 2px 10px 2px 5px;
  font-size: 8px;
  background-color: #EEEEEE;
  height: 15px;
}

.day_all_event {
  border-bottom: 1px solid #444;
  padding: 2px 10px 2px 5px;
  font-size: 12px;
  background-color: #D7F2FF;
  height: 15px;
  width: 100%;
  a:link {
    color:#000000;
    text-decoration:none;
  } 
  a:visited {
    color:#000000;
    text-decoration:none;
  } 
  a:hover {
    color:#FFF;
    background:#EEE;
    text-decoration:none;
  } 
}

.day_appointment {
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  border-left: 1px solid #444;
  padding: 2px 10px 2px 5px;
  font-size: 8px;
  background-color: #D7F2FF;
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
  font-size: 12px;
  vertical-align: top;
  a:link {
    color:#000000;
    text-decoration:none;
  } 
  a:visited {
    color:#000000;
    text-decoration:none;
  } 
  a:hover {
    color:#FFF;
    background:#EEE;
    text-decoration:none;
  } 
  }

.hide_extra { 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow:ellipsis; 
}

#event_errorbox {
  color: #b94a48;
  background-color: #f2dede;
  display: none;
}


