#settings_errorbox {
  color: #b94a48;
  background-color: #f2dede;
  display: none;
}

#password_errorbox {
  color: #b94a48;
  background-color: #f2dede;
  display: none;
}

#user_errorbox {
  color: #b94a48;
  background-color: #f2dede;
  display: none;
}
