// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#settings_errorbox {
  color: #b94a48;
  background-color: #f2dede;
  display: none;
}

#password_errorbox {
  color: #b94a48;
  background-color: #f2dede;
  display: none;
}
