<footer class="footer">
  <small>
    <a href="http://cuengineeringonline.colorado.edu/coursedb/view-course/400">Master of Engineering Project</a>
    by Mark Grebe
  </small>
  <nav>
  </nav>
</footer>
