<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Grebe Calendar App", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li>
              <%= link_to signout_path, method: "delete" do %>
                <i class="icon-user icon-white"></i> Sign Out
              <% end %>
            </li>
          <% else %>
             <% if request[:PATH_INFO] != '/signin' %>
              <li><%= link_to "Sign In", signin_path %></li>
             <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>


 
